.cart-btn {
    margin-right: 25px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 25px;
    }